<nav class="ed-bottom-nav" aria-label="Navegación del curso">
  <div class="ed-bottom-inner">
    <div class="ed-bottom-primary">
      <a class="ed-nav-button" data-nav="home" href="{{ROOT}}index.html"><span aria-hidden="true">⌂</span> Inicio</a>
      <a class="ed-nav-button" data-nav="topics" href="{{ROOT}}index.html#temas"><span aria-hidden="true">▦</span> Temas</a>
      <a class="ed-nav-button" data-nav="activities" href="{{ROOT}}actividades.html"><span aria-hidden="true">☑</span> Actividades</a>
      <a class="ed-nav-button" data-nav="bibliography" href="{{ROOT}}pages/bibliografia.html"><span aria-hidden="true">▤</span> Bibliografía</a>
    </div>
    <div class="ed-bottom-sequence" data-sequence></div>
    <button class="ed-nav-toggle" type="button" aria-expanded="false" aria-controls="ed-mobile-menu"><span aria-hidden="true">☰</span> Menú</button>
  </div>
  <div class="ed-mobile-menu" id="ed-mobile-menu" hidden>
    <a class="ed-nav-button" data-nav="home" href="{{ROOT}}index.html">⌂ Inicio</a>
    <a class="ed-nav-button" data-nav="topics" href="{{ROOT}}index.html#temas">▦ Temas</a>
    <a class="ed-nav-button" data-nav="activities" href="{{ROOT}}actividades.html">☑ Actividades</a>
    <a class="ed-nav-button" data-nav="bibliography" href="{{ROOT}}pages/bibliografia.html">▤ Bibliografía</a>
  </div>
</nav>
